_@kboth+ietf@drkurt.com_ _set component to `dmarc-future-notes`_

_@todd.herr@valimail.com_ _changed component from `dmarc-future-notes` to `dmarc-aggregate-reporting`_

_@todd.herr@valimail.com_ _commented_


___
Issue references Section 6.2.1.1 from dmarc-base-09; language in question actually appears in Section 7.2.1.1 in RFC 7489.

_@alex_brotman@comcast.com_ _changed status from `new` to `assigned`_

_@alex_brotman@comcast.com_ _set owner to `alex_brotman@comcast.com`_

_@alex_brotman@comcast.com_ _commented_


___
https://github.com/ietf-wg-dmarc/draft-ietf-dmarc-aggregate-reporting/commit/ed875fe4b1fce38a6228b60e889cc67e3d2fcf37#diff-5db045a6ed7ad3b277f5295dd6fe6a83c8400bd4a5327e7cbfccdaf3c63e9f5c

_@mail@wander.science_ _commented_


___
Nit:
move `unique-id` down the list and place it between `end-timestamp` and `extension`.

_@alex_brotman@comcast.com_ _changed status from `assigned` to `closed`_

_@alex_brotman@comcast.com_ _set resolution to `fixed`_

_@alex_brotman@comcast.com_ _commented_


___
Changed to MUST